* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(https://images.unsplash.com/photo-1660463972017-0b29b8279f38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80);
    background-position: center;
    background-size: cover;
    height: 100vh;


}

.navbar {
    width: 1500px;
    height: 85px;
    margin: auto;
}

.icon {
    width: 300px;
    float: left;
    height: 75px;
}

.logo {
    color: rgba(138, 193, 215, 0.998);
    font-size: 30px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 15px;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
    margin-left: 280px;

}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li {
    list-style: none;
    margin-left: 40px;
    margin-top: 25px;
    font-size: 15px;

}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: rgba(138, 193, 215, 0.998);
    ;

}

.search {
    width: 300px;
    float: left;
    margin-left: 160px;



}

.srch {
    font-family: 'Times New Roman';
    width: 220px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(138, 193, 215, 0.998);
    margin-top: 13px;
    border-right: none;
    color: white;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.btn {
    width: 75px;
    height: 30px;
    background: rgba(138, 193, 215, 0.998);
    border: 2px solid rgba(138, 193, 215, 0.998);
    margin-top: 13px;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.content {
    width: 1460px;
    height: auto;
    margin: auto;
    position: relative;
    color: #fff;
}

.content .par {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    line-height: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    padding-top: 9%;
    letter-spacing: 2px;
}

.content .cn {
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    background: rgba(138, 193, 215, 0.998);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a {
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover {
    background-color: #fff;
}

.content span {
    color: rgba(138, 193, 215, 0.998);

}

.form {
    width: 300px;
    height: 300px;
    background: linear-gradient(to top, rgba(54, 79, 86, 0.8), rgba(46, 136, 156, 0.8));
    position: absolute;
    top: 90px;
    left: 900px;
    padding: 30px;
    border-radius: 10px;

}

.form #p {

    margin-top: 10px;
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;

    color: rgba(138, 193, 215, 0.998);
    font-size: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 7px;
    padding: 8px;
}

.form input {
    height: 20px;
    width: 250px;
    background: transparent;
    color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;
}